:root {
  --color1: #EAE7DC;
  --color2: #e98074;
  --color3: #E85A4F;
  --color4: black;
  --font: 'Noto Sans SC', sans-serif;
}


body {
  background-color: var(--color1);
}

html {
  scroll-behavior: smooth;
}

.blank {
  height:100px;
}

.header {
  background-color: var(--color2);
  font-family: var(--font);
  width: 100%;
  text-align: center;
  height: 12vh;

}

.headerTitle {
  width: 1100px;
  display: inline-block;
  
}

.headerItems {
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.title {
  color: var(--color1);
  font-family: var(--font);
}

.headerelems {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-left: 10px;
  
}

.link {
  color: var(--color1);
  font-family: var(--font);
}

/* unvisited link */
.link:link {
  text-decoration: none;
  font-family: var(--font);
}


/* mouse over link */
.link:hover {
  color: var(--color4);
  text-decoration: underline;
}

/* selected link */
.link:active {
  text-decoration: underline;
}

.headerlinks {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-right: 10px;
  font-family: var(--font);
  
}


/* home page */
.homeContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: var(--font);
  width: 100%;
}
.mainText {
  display: flex;
  text-align: center;
  font-size: 60px;
  width: 70%;
  color: var(--color3);
  font-family: var(--font);
}

.altText {
  display: flex;
  text-align: center;
  font-size: 20px;
  width: 80%;
  font-style: italic; 
  color: var(--color3);
  font-family: var(--font);
}

.weather {
  float:right;
  width: 200px;
  height: 200px;
  border: 3px solid black;
  text-align: center;
  background-color: var(--color2);
}

.scroll {
  font-size: 60px;
  text-decoration: none;
  color: var(--color3);
}
.back {
  font-size: 60px;
  text-decoration: none;
  color: var(--color3);
  margin-left:10px;
}

/* Projects */
.projectContainer {
  display: flex;
  align-content: space-between;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  font-family: var(--font);
  
}

.projectText {
  margin:auto;
  vertical-align:middle;
  color: var(--color2);
  text-decoration: none;
  font-family: var(--font);

}

.projectTitle {
  font-size: 15px;
}

.projectContent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}


.projectTrustTracker {
  display: flex;
  background-color: var(--color2);
  width: 40%;
  height: 400px;
  border: solid #8E8D8A 3px;
  background-image: url(images/trusttracker.png);
  background-size: 100% 100%;
  text-align: center;
  color: var(--color2);
  text-decoration: none;
}

.projectTrustTracker:hover {
  display: flex;
  /* width: 40%;
  height: 400px; */
  border: solid #8E8D8A 3px;
  background-color: var(--color1);
  background-image: none;
  transition-duration: .8s;
  text-align: center;
  color: var(--color2);
  text-decoration: none;
  
}

.projectCurtis {
  display: flex;
  background-color: var(--color2);
  width: 40%;
  height: 400px;
  border: solid #8E8D8A 3px;
  background-image: url(images/curtis.jpeg);
  background-size: 100% 100%;
  text-decoration: none;
  color: var(--color2);
}

.projectCurtis:hover {
  display: flex;
  /* width: 40%;
  height: 400px; */
  border: solid #8E8D8A 3px;
  background-color: var(--color1);
  background-image: none;
  transition-duration: 0.8s;
  text-align: center;
  text-decoration: none;
  color: var(--color2);
}

.projectJumbocode {
  display: flex;
  background-color: var(--color2);
  width: 40%;
  height: 400px;
  border: solid #8E8D8A 3px;
  background-image: url(images/jumbocode.png);
  background-size: 100% 100%;
  text-decoration: none;
  color: var(--color2);
}

.projectJumbocode:hover {
  display: flex;
  /* width: 40%;
  height: 400px; */
  border: solid #8E8D8A 3px;
  background-color: var(--color1);
  background-image: none;
  transition-duration: 0.8s;
  text-align: center;
  text-decoration: none;
  color: var(--color2);
}

.projectMemeGenerator {
  display: flex;
  background-color: var(--color2);
  width: 40%;
  height: 400px;
  border: solid #8E8D8A 3px;
  background-image: url(images/memegenerator.png);
  background-size: 100% 100%;
  text-decoration: none;
  color: var(--color2);
}

.projectMemeGenerator:hover {
  display: flex;
  /* width: 40%;
  height: 400px; */
  border: solid #8E8D8A 3px;
  background-color: var(--color1);
  background-image: none;
  transition-duration: 0.8s;
  text-align: center;
  text-decoration: none;
  color: var(--color2);
}

.projectChina {
  display: flex;
  background-color: var(--color2);
  width: 40%;
  height: 400px;
  border: solid #8E8D8A 3px;
  background-image: url(images/china.jpeg);
  background-size: 100% 100%;
  text-decoration: none;
  color: var(--color2);
}

.projectChina:hover {
  display: flex;
  /* width: 40%;
  height: 400px; */
  border: solid #8E8D8A 3px;
  background-color: var(--color1);
  background-image: none;
  transition-duration: 0.8s;
  text-align: center;
  text-decoration: none;
  color: var(--color2);
}

.projectPoems {
  display: flex;
  background-color: var(--color2);
  width: 40%;
  height: 400px;
  border: solid #8E8D8A 3px;
  background-image: url(images/poems.jpeg);
  background-size: 100% 100%;
  text-decoration: none;
  color: var(--color2);
}

.projectPoems:hover {
  display: flex;
  /* width: 40%;
  height: 400px; */
  border: solid #8E8D8A 3px;
  background-color: var(--color1);
  background-image: none;
  transition-duration: 0.8s;
  text-align: center;
  text-decoration: none;
  color: var(--color2);
}

.footer {
  display: flex;
  background-color: var(--color2);
  width: 100%;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
}
.footer.div {
  display: flex;
}


/* about page */
.aboutContainer {
  display: flex;
  justify-content: space-around;
  font-family: var(--font);
  
}

.aboutFigure {
  width: 35%;
  height: 700px;
  margin-top: 20px;
}

.aboutImage {
  width: 100%;
  height: 100%;
  
}

.abouttext {
  width: 35%;
  font-size: 20px;
  font-family: var(--font);
}

.jokebutton {
  background-color: var(--color2);
  border: none;
  color: var(--color1);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid black;
  transition-duration: 0.4s;
  margin-bottom: 10px;
  font-family: var(--font);
}
.jokebutton:hover {
  background-color: var(--color1); 
  color: var(--color3);
}

.joketext {
  background-color: var(--color3);
  color:var(--color1);
  font-size: 20px;
  text-align: left;
  border: 2px solid black;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  font-family: var(--font);
}

.pageLink {
  text-decoration: none;
  color: var(--color3);
}

.pageLink:hover {
  color: #8E8D8A;
  text-decoration: underline;
}

/* poems */
/*all poems*/
.poemsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-image: url(images/cherryblossom.jpeg);
  background-size: 100%;
  font-family: var(--font);
}

.poemHeader{
  width: 100%;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  font-family: var(--font);
}

.topPoemText {
  display: flex;
  text-align: center;
  font-size: 60px;
  width: 70%;
  color: var(--color3);
  font-family: var(--font);
}

/*individual poem*/
.poemContainer {
  background-color: var(--color2);
  text-align: center;
  margin: auto;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 30px;
  border: 1px solid var(--color1);

}

.poemText {
  font-size: 30px;
  color: var(--color1);
}

/* curtis */
.spotifyButton {
  background-color: var(--color2);
  color: var(--color1);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border: 2px solid gray;
  transition-duration: 0.4s;
  font-family: var(--font);
  
}
.spotifyButton:hover {
  background-color: var(--color1); 
  color: var(--color3);
}
.curtisImageContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto;
  width: 100%;
  padding-top: 100px;
}

.curtisImage {
  width: 300px;
  height: 300px;
  display: flex;
  border: 1px solid gray;
}

.curtisText {
  text-align: center;
  font-size: 25px;
  color: var(--color3);
  width: 80%;
  font-family: var(--font);
}

.imageCaption {
  color: var(--color3);
  font-family: var(--font);
}

/* jumbocode */

.jcText {
  text-align: center;
  font-size: 40px;
  color: var(--color3);
  width: 80%;
  font-family: var(--font);
}

.jcContainer {
  display: flex;
  justify-content: space-around;
}

.jcColumn {
  width: 30%;
  font-size: 30px;
  background-color: var(--color2);
  text-align: center;
  color: var(--color1);
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
  border: 1px solid gray;

}

/* china blog */

.blogContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  height: 1000px;
  font-family: var(--font);
}

.entryContainer {
  width: 40%;
  height: 100px;
  background-color: var(--color2);
  border: 2px solid var(--color3);
  text-decoration: none;
  color: var(--color1);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: var(--font);
}

.entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  height: 100%;
  font-family: var(--font);
}

.journalContainer {
  display: flex;
  justify-content: center; 
  flex-direction: column;
  align-items: center;
  color: var(--color1);
  font-family: var(--font);

}

.journalText {
  width: 90%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  background-color: var(--color3);
  /* margin-top: 50px;
  padding-left: 70px;
  padding-right: 70px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: var(--font);
}

.journalTitle {
  width: 70%;
  font-size: 60px;
  color: var(--color1);
  text-align: center; 
  font-family: var(--font);
}

.journalContent {
  text-align: left;
  width: 90%;
  font-family: var(--font);
  margin-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
}

.lineBreak {
  border: 1px solid var(--color1);
  width: 100%;

}
.blogPost {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: var(--font);
}

.blogFigure {
  width: 30%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.blogImage {
  border: 1px solid var(--color1);
}
.blogCaption {
  font-size: 20px;
  text-align: left;
  font-family: var(--font);
}

.blogLink {
  text-decoration: none;
  color: var(--color4);
}
.blogLink:hover {
  text-decoration: underline;
  color: var(--color1);
}

.leftText {
  text-align: left;
}

.rotateimg90 {
  -webkit-transform:rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);

}

.imageNotice {
  display: none;
}

#toggle {
  display: none;
}

#toggleLabel {
  display: none;
}

#smallTitle {
  display: none
}

.menu {
  display: none;
  width: 100%;
  text-align: center;
  background-color: orange;
}
.menu a{
  display: block;
  margin: 0;
  border-bottom: 1px solid var(--color2);
}

@media (max-width: 600px) {
  .header {
    width: 100%;
  }
  
  .mainText {
    display: flex;
    text-align: center;
    font-size: 20px;
    width: 90%;
    color: var(--color3);
    font-family: var(--font);
    margin-top: 50px;
  }
  
  .altText {
    display: flex;
    text-align: center;
    font-size: 12px;
    width: 90%;
    font-style: italic; 
    color: var(--color3);
    font-family: var(--font);
    margin-top: 40px;
  }

  .scroll {
    display: none;
  }

  .blank {
    height: 50px;
  }

  .projectTrustTracker {
    display: flex;
    background-color: var(--color2);
    width: 40%;
    height: 150px;
    border: solid #8E8D8A 3px;
    background-image: url(images/trusttracker.png);
    background-size: 100% 100%;
    text-align: center;
    color: var(--color2);
    text-decoration: none;
  }
  
  .projectCurtis {
    display: flex;
    background-color: var(--color2);
    width: 40%;
    height: 150px;
    border: solid #8E8D8A 3px;
    background-image: url(images/curtis.jpeg);
    background-size: 100% 100%;
    text-decoration: none;
    color: var(--color2);
  }
  
  .projectJumbocode {
    display: flex;
    background-color: var(--color2);
    width: 40%;
    height: 150px;
    border: solid #8E8D8A 3px;
    background-image: url(images/jumbocode.png);
    background-size: 100% 100%;
    text-decoration: none;
    color: var(--color2);
  }
  
  .projectMemeGenerator {
    display: flex;
    background-color: var(--color2);
    width: 40%;
    height: 150px;
    border: solid #8E8D8A 3px;
    background-image: url(images/memegenerator.png);
    background-size: 100% 100%;
    text-decoration: none;
    color: var(--color2);
  }
  
  .projectChina {
    display: flex;
    background-color: var(--color2);
    width: 40%;
    height: 150px;
    border: solid #8E8D8A 3px;
    background-image: url(images/china.jpeg);
    background-size: 100% 100%;
    text-decoration: none;
    color: var(--color2);
  }
  
  .projectPoems {
    display: flex;
    background-color: var(--color2);
    width: 40%;
    height: 150px;
    border: solid #8E8D8A 3px;
    background-image: url(images/poems.jpeg);
    background-size: 100% 100%;
    text-decoration: none;
    color: var(--color2);
  }

  /* about page */

.aboutFigure {
  width: 75%;
  height: 300px;
  margin-top: 40px;
}

.aboutImage {
  width: 100%;
  height: 100%;
  
}

.abouttext {
  width: 55%;
  font-size: 15px;
  font-family: var(--font);
  margin-left: 10px;
}

.jokebutton {
  display: none;
}

.topPoemText {
  font-size: 20px;
  width: 80%;
}

/*individual poem*/
.poemContainer {
  background-color: var(--color2);
  text-align: center;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  border: 1px solid var(--color1);

}

.poemText {
  font-size: 15px;
  color: var(--color1);
}

.curtisImageContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  margin: auto;
  width: 100%;
  padding-top: 100px;
}

.curtisImage {
  width: 120px;
  height: 140px;
  border: 1px solid gray;
}

.curtisText {
  font-size: 15px;
}

.jcText {
  font-size: 20px;
  width: 85%;
}

.jcColumn {
  width: 30%;
  font-size: 13px;

}

.entryContainer {
  width: 45%;
  height: 100px;
  
}

.entry {
  font-size: 13px;
}

.journalContent {
  font-size: 18px; 
  padding: 0;
  margin: 0;
  
}

.journalContainer {
  width: 100%;
  padding: 0;
  margin: 0;
}

.blogFigure {
  display: none;
}

.imageNotice {
  display: block;
  color: var(--color3);
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

/* .journalText {
  width: 70%;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
  background-color: var(--color3);
  margin-top: 50px;
  padding-left: 70px;
  padding-right: 70px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  font-family: var(--font);
} */


}

/* ipad */
@media (max-width: 1100px) {
  .header {
    width: 100%;
  }
  .headerTitle {
    display: none;
  }
  #smallTitle{
    display: flex;
    color: var(--color1);
    margin-right: 10px;

  }


  .smallView {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #toggleLabel {
    display: block;
    font-size: 40px;
    margin-left: 10px;
    cursor: pointer;
    width: 30px;
    color: var(--color1)
  }

  #toggle:checked ~ .menu {  
    display: block;
    background-color: var(--color3);
    font-size: 20px;
    width: 30%;
    z-index: 10;
    position: absolute;
    margin-top: 150px;
  } 

  .imageNotice {
    display: block;
    color: var(--color3);
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
  }

  .blogFigure {

    display: none;
  }

}